.footer{
    padding: 2.4rem 0 13.8rem;
    background: #ff6624;
    &__logo{
        width: 42rem;
        height: 30.8rem;
    }
    &__content{
        color: $text-color-white;
        padding-left: 11rem;
        display: flex;
        justify-content: space-between;
    }
    &__content-left{
        max-width: 52.3rem;
    }
    &__content-center{

    }
    &__content-right{
        max-width: 46rem;
    }
    &__text{
        font-family: $second-family;
        font-weight: 400;
        font-size: 3.6rem;
        margin-bottom: 5.5rem;
    }
    &__social-title{
        font-weight: 500;
        font-size: 4rem;
        margin-bottom: 2.9rem;
    }
    &__social-links{
        display: flex;
        align-items: center;
        gap: 3.1rem;
    }

    &__menu-list{
        display: flex;
        flex-direction: column;
        row-gap: 1.4rem;
    }
    &__menu-link{
        font-weight: 500;
        font-size: 3.6rem;
        color: #f3ebe7;
        font-family: $font-family;
    }
    &__menu-link-active{
        font-weight: 700;
        color: #fff;
    }

    &__payments{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__form{
        display: flex;
        flex-direction: column;

    }

    &__form-label{
        font-family: $font-family;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 0.4rem;
    }

    &__form-input{
        border: 0.3rem solid #fff;
        border-radius: 0.5rem;
        width: 46rem;
        height: 6.2rem;
        background-color: transparent;
        padding: 1rem;
        color: #ffffff;
        font-family: $font-family;
        font-size: 2rem;
        margin-bottom: 4.5rem;
    }

    &__form-button{
        max-width: 13.8rem;
        // height: 5.9rem;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        background-color: #ffffff;
        margin-bottom: 6rem;
        font-family: $font-family;
        font-weight: 700;
        font-size: 3.6rem;
        text-align: center;
        color: #ff6624;
    }

}