// шрифты на сайте

$font-family: "DM Sans", sans-serif;
$second-family: "Playfair Display", sans-serif;
$third-family: "Inter", sans-serif;


//цвета на сайте

$bg-color: #ffffff;
$text-color: #000000;
$text-color-white: #ffffff;
$color-menu-linck: #797575;

$bg-btn-color:  #ff6624;



$offset-container: 14px;